div .group-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px;
    background-color: #242424;
    opacity: 0.75;
    border-right: 1px solid #ddd;
    height: 100%;
    width: 30%;
}